body {
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

#pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}